---
interface Props {
	id: string;
	label: string;
	placeholder?: string;
	value?: string;
	class?: string;
}

const { id, label, value, placeholder, class: className } = Astro.props;
---

<label class={className}>
	{label}:
	<input
		type="text"
		name={id}
		id={id}
		value={value}
		placeholder={placeholder}
		minlength="0"
		maxlength="7"
		class="font-mono pl-2 w-[120px] text-2xl"
	/>
</label>
